<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>274474268286-9fuiq0ac027lunce32g8kltmifu0tp1a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.274474268286-9fuiq0ac027lunce32g8kltmifu0tp1a</string>
	<key>API_KEY</key>
	<string>AIzaSyCurw4tk-JNFhC-Uf24X8bw7gzH5uIHmIo</string>
	<key>GCM_SENDER_ID</key>
	<string>274474268286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterPracticeChatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-practice-chat-app</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-practice-chat-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:274474268286:ios:2138823a7147d12fa18a2f</string>
</dict>
</plist>